# Build & Dist
bin/
dist/
*.exe
*.dll
*.so
*.dylib

# Node & Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
build/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
*.pem
*.key
*.crt

# IDE & OS
.idea/
.vscode/
.DS_Store
